body {
  background-color:#CEE5D0;
}
hr {
  border-style:none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 5%;
}
h1 {
  color: #f5a962;
}
h3 {
  color: #f5a962;
}
h2 {
  color: #f5a962;
}
